<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/movies/index.css">

<%- include("../partials/nav") %>
<main>
<h1>Flights List</h1>
<table>
    <thead>
        <tr>
          <th>Flights Airline</th>
          <th>Airport</th>
          <th>Flight No.</th>
          <th>Departure Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<%- include("../partials/footer") %>

<!-- displays each flight’s airline, airport, flight no., and departure date/time. -->